@inject IStringLocalizer<SimpleLibrarySystem.Resources.Translation> Localizer
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SimpleLibrarySystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="libraryCollection">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localizer["LibraryCollection"]
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="librarySystem">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["LibrarySystem"]
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="report">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Report"]
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="managementBooks">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localizer["Management"]
            </NavLink>
        </li>
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="managementCustomers">
                <span class="oi oi-plus" aria-hidden="true"></span> @Localizer["ManagementCustomers"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
